{% extends 'my_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About My_app
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">My_app About Page</h1>
        </div>
    </div>

    <div>
        <strong>{{ aboutmessage }}</strong>
    </div>

    <button class="btn btn-primary" onclick="alert('You clicked the button using inline JavaScript.');">
        Click me - I run on vanilla JavaScript!
    </button>

    <br />
    <br />

    <button class="btn btn-primary" id="about-btn">
        Click me - I'm using JQuery!
    </button>

    <p>This is some text for the JQuery example.</p>

    <div id="msg">Hello! I'm a further example for JQuery testing.</div>
{% endblock %}